.step {
   &__box {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      padding: 5rem;
      border: 1px solid var(--color-primary);
      cursor: pointer;

      position: relative;

      @media only screen and (max-width: 52.5em) {
         flex: 0 0 45%;
      }

      @media only screen and (max-width: 35em) {
         flex: 0 0 65%;
      }

      &::before {
         display: block;
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 0;
         height: 100%;
         z-index: -1;
         background-color: var(--color-primary);
         transition: width 0.5s cubic-bezier(0.1, 0.3, 0.6, 1);
      }

      &:hover::before {
         width: 100%;
      }

   }

   &__box:hover &__icon,
   &__box:hover &__title,
   &__box:hover &__description { color: #fff; }

   &__icon {
      font-size: 5rem;
      margin-bottom: 1rem;
      display: inline-block;
      background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      transition: color 0.5s;
   }

   &__title {
      transition: color 0.5s;
   }

   &__description {
      font-size: 1.8rem;
      font-weight: 400;
      transition: color 0.5s;
   }
}